.red {
    color: red;
}

.blue {
    color: blue;
}

.green {
    color: green;
}

.pink {
    color: pink;
}

.aboutUs {
    background: grey;
}

.qwa {
    height: 150px;
    width: 150px;
    display: inline-block;
}

.qwa2 {
    display: block;
    border: 10px yellow solid;
    margin: 10px 0;
}

.kwadrat1{
    background: red;
}

.kwadrat2{
    background: blue;
}

.kwadrat3{
    background: green;
}

.kwadrat4{
    background: pink;
}

.send {
    width: 150px;
    color: white;
    background: black;
    margin-top: 20px;
}